@import "Variables";

.App{
    background-color: $bg-color;
    width: 100%;
    min-height: 100vh;
    padding: 30px 10px 60px 10px;
}
.wrap{
    padding: 20px;
    background-color: white;
    position: relative;
    min-height: 90vh;
    max-width: 900px;
}
h2{
    text-align: center;
    font-family: $primary-font;
}
.input{
    max-width: 660px;
    border: 3px solid $primary-color;
    outline: none;    
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);;
    margin: 0 20px 0 20px;
}
.loading{
    opacity: 70%;
    font-family: $primary-font;
}