@import "Variables";
h3, h5{
    font-family: $primary-font;
    display: inline;
}
h3{
    text-transform: capitalize;
}
h5{
    margin-left: 20px;
    font-weight: 400;
}
.listen-wrap{
    display: block;
}
.btn-custom{
    text-align: center;
    padding: 8px 25px;
    font-size: 18px;
    font-family: $primary-font;
    font-style: italic;
    border: 0;
    background-color:$primary-color ;
    border-radius: 30px;
}
ul{
    display: inline;
    list-style-type: none;
}
.definition{
    display: flex;
}
.definitions-list{
    display: list-item;
}
.example{
    display: flex;
    font-family: $primary-font;
    font-style: italic;
    font-size: 16px;
    opacity: 90%;
}